// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// src/css/quasar.variables.scss

$primary   : #193d5c;
$secondary : #2b403e;
$accent    : #9C27B0;

$dark      : #0d0a0a;

$positive  : #0ec93a;
$negative  : #f7112c;
$info      : #36a4ba;
$warning   : #bf900f;
